.name  {
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
    margin-left: 30px;
}

.location {
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
    margin-left: 30px;
}

.hostInfo {
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}


.description {
    margin: 15px;
}

.belowImages {
    display: flex;
    justify-content: space-between;
  }

.belowImages-info {
    margin: 15px;
}


.reserve-container {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    margin-right: 35px;
}

.price-reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 15px;
}

.spotContainer {
    max-width: 1000px;
}


.reviews {
    display: flex;
    justify-content: space-between;
}

.starRating {
    margin-right: 10px;
}

.reserveButton {
    width: 100%;
    margin-top: 20px;    
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(218, 156, 156);
    border: 1px solid #000000;
    cursor: pointer;
    color: white;
    width: 100%;
    margin-top: 15px;
}

.reviewsContainer {
    margin: 15px;
    border-top: 1px solid #999999;
    margin-left: 20px;
    padding-top: 25px;
}

.mainReviews {
    display: flex;
    font-weight: bold;
    margin-left: 5px;
    /* margin-bottom: 5px; */
}

.individualReview {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.createdAt {
    color: #999999;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12pt;
}

.reviewUser {

    font-weight: bold;
}

.hiddenReviewContainer {
    display: none
}

.noReviews {
    display: flex;
    align-items: center;
}

.noReviewsContainer {
    margin-left: 10px;
}


.beTheFirst {
    margin-top: 15px;
    margin-bottom: 10px
}

.preview-image {
    max-width: 500px;
    display: flex;
}

.preview-image img {
    width: 100%;
    object-fit: cover;
}

.other-image {
    width: 44%;
    object-fit: cover;

}

.images-container {
    margin-bottom: 25px;
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
}
  
.other-images {
    display: flex;
    max-width: 500px;
    flex-flow: row wrap;
}  

.other-image {
    margin: 2px 2px 2px 3px;
    flex-basis: calc(50%-20px)
}

.other-image img {
    width: 100%;
    height: auto;
}

.individualReview > button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #afaeae;
    border: 1px solid #000000;
    cursor: pointer;
    color: white;
    width: 15%;
    margin-top: 5px;
}

.postYourReview {
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px
}

.postYourReview > button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #afaeae;
    border: 1px solid #000000;
    cursor: pointer;
    color: white;
    width: 15%;
    margin-top: 5px;
}

.postYourReview > button:hover {
    opacity: 0.8;
    background-color: #7a7a7a;
    color: white;
}

.individualReview > button:hover {
    opacity: 0.8;
    background-color: #7a7a7a;
    color: white;
}

.reserveButton:hover {
    opacity: 0.8;
    background-color: #FF5A5F;
    color: white;
}