.manageSpot-buttons {
    display: flex;
    justify-content: space-evenly;
    
}

#updateButton {
    width: 100%;
    background-color: #999999;
    border: 1px solid #000000
}

#deleteButton {
    width: 100%;
    background-color: #999999;
    border: 1px solid #000000;
    padding: 0px;
    margin: 0px
}

.manageHeader {
    font-size: 24px;
    font-weight: bold;
    margin: 10px
}

.addSpotButton {
    margin-left: 10px;
    margin-bottom: 10px;
}