.header {
    background-color: #fff;
    padding: 10px;
    /* box-shadow: 0 0px px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Manrope", sans-serif;
    margin-right: 30px;
    margin-left: 25px;
}

/* button:first-child,
button:nth-child(2) {
    border: none;
    text-align: center;
    background-color: rgb(218, 156, 156);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
} */

button:first-child {
    margin-right: 10px;
}

.home {
    margin-right: 5px
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
}

.logInContainer {
    display: flex;
    align-items: center;
}

.createSpot {
    margin-right: 10px;
}

.userProfile > button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: #FF5A5F;
    cursor: pointer;
}

.navLinks > button {
    border: none;
    text-align: center;
    background-color: #FF5A5F;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}