.hidden {
    display: none;
}

ul li {
    list-style: none;
}

ul li:nth-child(2) {
    border-bottom: 1px solid #999999;
    padding-top: 5px;
    padding-bottom: 5px;

}

.fa-user-circle {
    position: relative
}

ul {
    position: absolute;
    top: 44px;
    left: 802px;
    display: flex;
    flex-direction: column;
}

.profile-dropdown {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 3px #CCCCCC;
}

.manage {
    padding-bottom: 5px;
    padding-top: 5px;
}